<script>
    const formDelete = document.querySelector(".delete-form")
    formDelete.addEventListener("submit", function(event){
        const confirmation = confirm("Deseja deletar?")
        if(!confirmation){
        event.preventDefault()}
    })

</script>